.main {
  overflow: hidden;
  margin: auto 15px;
  
}

.heading {
  margin: 20px;
  text-align: center;
}





.vintage-link {
  bottom: 1px;
  right: 10px;
}

#rec {
  position: fixed;
  right: -150px;
  width: 200px;
  height:auto;
  margin-left:-100px;
  bottom:10px;
  background-color: lightcoral;
  color: #F0F0F0;
  font-family: Calibri;
  font-size: 20px;
  padding:10px;
  text-align:center;
  z-index: 10;
  border-radius: 7px;
  box-shadow: 0px 0px 14px -1px rgba(56, 56, 56, 1);
  transition: all 0.4s;
}

#rec:hover {
  right: -50px !important;
}

#right-svg {
  left: 16px;
  top: 15px;
  position: absolute;
  transform: rotate(180deg);
}




.search-container {
  position: absolute;
  top: 10px;
  right: 0;
}




.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.back {
  display: none;
  margin-left: 6px;
  width: 70px;
}

.btn {
  background-color: white;
  margin-right: 0.8rem;
  border-radius: 5px;
  font-size: 1.7rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin-bottom: 0.8rem;
}

.btn.next,
.btn.prev {
  background: none;
  font-size: 2.8rem;
}

.paper {
  color: black;
  text-align: center;
  padding: 2em;
}